$imported-once-files        : ();

// Settings
@import "px-defaults-design/settings.defaults";
@import "inuit-responsive-settings/settings.responsive";
@import "px-colors-design/settings.colors";

// Tools
@import "px-functions-design/tools.functions";
@import "px-mixins-design/tools.mixins";
@import "inuit-responsive-tools/tools.responsive";

// Generic
@import "px-normalize-design/generic.normalize";
@import "px-box-sizing-design/generic.box-sizing";
@import "px-helpers-design/generic.helpers";

// Base
@import "px-viewport-design/base.viewport";
@import "px-flexbox-design/base.flexbox";
@import "px-typography-design/base.typography";

// Objects
$inuit-layout-gutter        : 10px;
$inuit-layout-gutter--small : 5px;
$inuit-layout-gutter--large : 15px;
$inuit-layout-gutter--huge  : 20px;

$inuit-enable-layout--small : true;
$inuit-enable-layout--full  : true;

@import "px-layout-design/objects.layout";

$inuit-enable-btn--bare     : true;

@import "px-buttons-design/objects.buttons";
@import "px-list-bare-design/objects.list-bare";

// App
html {
  background-color: $gray-darker;
}

.layout__item.navbar {
  box-sizing: content-box;
  flex: none;
  min-height: calc(100vh - 50px);
  > nav {
    box-sizing: border-box;
  }
}

.auth {
  &, a {
    color: $white;
  }
  button {
    @extend %btn--bare;
  }
  ul {
    @extend %list-bare;
  }
}

.navbar--collapsed {
  .auth {
    @include accessibility;
  }
}

[role=banner] {
  height: calculateRem(50px);
  h1 {
    @include inuit-font-size(24px);
    margin: 0;
    font-weight: normal;
    color: $white;
    svg {
      margin-bottom: -.1em;
    }
  }
}

main {
  border: 5px solid $gray;
  background-color: $white;
  > section {
    padding: 20px;
  }
}

// Trumps
@import "px-clearfix-design/trumps.clearfix";

$inuit-enable-margins--tiny     : true;
$inuit-enable-margins--rtl      : true;

@import "px-spacing-responsive-design/trumps.spacing-responsive";
@import "px-widths-responsive-design/trumps.widths-responsive";
