// Settings
@import "px-colors-design/_settings.colors.scss";
@import "px-defaults-design/_settings.defaults.scss";

// Generic
@import "px-helpers-design/_generic.helpers.scss";

$desk-wide-width: auto; // defaults to 100%
$desk-wide-max-width: none; // defaults to 80rem
$viewport-margin: 2rem; // defaults to auto

// Base
@import "px-viewport-design/_base.viewport.scss";
@import "px-flexbox-design/_base.flexbox.scss";

// Meta
@import "px-meta-lists-design/_meta.lists.scss";

@import "px-mixins-design/_tools.mixins.scss";

$inuit-webfont-path: '/bower_components/px-typography-design/type';
$predix-font-family : "GE Inspira Sans", sans-serif !default;

:host {
  font-family: $predix-font-family;
}

$px-page-link-color: $gray5;

[role=contentinfo] {
  margin-top: 8px;
  height: calculateRem(60px);
  @include inuit-font-size(12px);
  color: $px-page-link-color;
  a {
    text-decoration: none;
    color: $px-page-link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Trumps
$inuit-enable-margins--small: true;
$inuit-enable-margins--large: true;

@import "px-spacing-design/_trumps.spacing.scss";
