// Settings
@import "px-colors-design/_settings.colors.scss";
@import "px-mixins-design/_tools.mixins.scss";
@import "inuit-responsive-settings/_settings.responsive.scss";
@import "inuit-responsive-tools/_tools.responsive.scss";

@import "../../theme";

// px-viewport configuration variables are documented in the px-viewport Readme.md:
// https://github.com/predixdev/px-viewport-design
$desk-wide-width: auto; // defaults to 100%
$desk-wide-max-width: none; // defaults to 80rem
$viewport-margin: 2rem; // defaults to auto

// Styling for px-app-nav
:root {
  --px-app-nav-background-color:            $gray10;
  --px-app-nav-link-text-color:             $white;
  --px-app-nav-link-selected-color:         $select-blue-pressed;
  --px-app-nav-link-selected-active-color:  $select-blue-hover;
  --px-app-nav-link-hover-color:            $gray8;
  --px-app-nav-link-active-color:           $primary-blue-hover;
}


[role=banner], [role=contentinfo] {
  height: calculateRem(60px);
}

[role=banner] {
  width: 100%;
  display: block;
  margin: auto;
  h1, h2 {
    @include inuit-font-size(24px);
    margin: 0;
    line-height: calculateRem(60px);
    font-weight: normal;
    color: $px-page-banner-text-color;
    display:inline-block;
    svg {
      margin-bottom: -.1em;
      path{
        fill: $px-page-banner-meatball-color;
      }
    }

  }
  h2 {
    color:$gray6;
    @include media-query(palm) {
      display: none;
    };
  }
}

.content-wrapper {
  position: relative;
  display: flex;
}

main {
  min-height: calc(100vh - #{calculateRem(120px)});
  margin-left: 0;
  background-color: $px-page-main-content-area-background-color;
  overflow-x: hidden;
  @include media-query(portable) {
    margin-left: calculateRem(55px);
  };
  @include media-query(desk) {
    margin-left: 0;
  };
  flex: 1;
}

[role=contentinfo] {
  @include inuit-font-size(12px);
  color: $px-page-link-color;
  height: 4em;

  a {
    text-decoration: none;
    color: $px-page-link-color;
    &:hover, &:link, &:visited {
      color: $px-page-link-color;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
