:root
{

  --px-app-nav-background-color:            $gray10;
  --px-app-nav-link-text-color:             $white;
  --px-app-nav-link-selected-color:         $select-blue-pressed;
  --px-app-nav-link-selected-active-color:  $select-blue-hover;
  --px-app-nav-link-hover-color:            $gray8;
  --px-app-nav-link-active-color:           $primary-blue-hover;


  --px-font-family: $predix-font-family;

}
