logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.target
bin
.cache
.DS_Store
.*~
node_modules
public/bower_components
atlassian-ide-plugin.xml
test-target/
*.log
serviceKeystore.jks
.sonar
.idea