<div class="p" id="about-page">
  <h1>{{name}}</h1>
  
  
  <h2>About this application</h2>
  
  
  <p>This application gives you a great starting point right out of the box, which includes the
  following:</p>
  
  <ul>
    <li>Session Management</li>
    <li>User Authentication</li>
    <li>Proxy Web Service</li>
    <li>{{'demo.internationalization' | vmessages}}</li> <!-- configured in conf/messages.en -->
    <li>{{'demo.jsminification' | vmessages:'JavaScript'}}</li> <!-- pass an argument -->
  </ul>
  
  <p>For a walkthrough of the project & more detailed information -- see the README (or other
  docs)</p>

</div>
