<div id="about-page" class="page">
    <div class="page-header voice voice-brand">
        <h1 class="pull-left page-title">{{name}}</h1>
    </div>
    <div class="row module-set">
        <div class="col-sm-12">
            <section class="module">
                <header class="module-header">
                    <h3 class="voice voice-brand pull-left">About this application</h3>
                </header>
                <div class="module-body">

                    <p>This application gives you a great starting point right out of the box, which includes the
                       following:</p>

                    <ul>
                        <li>Session Management</li>
                        <li>User Authentication</li>
                        <li>Proxy Web Service</li>
                        <li>{{'demo.internationalization' | vmessages}}</li> <!-- configured in conf/messages.en -->
                        <li>{{'demo.jsminification' | vmessages:'JavaScript'}}</li> <!-- pass an argument -->
                    </ul>

                    <p>For a walkthrough of the project & more detailed information -- see the README (or other
                       docs)</p>
                </div>
                <footer class="module-footer">
                </footer>
            </section>
        </div>
    </div>
</div>
