<px-deck context="{{context}}">
    <description-card
      id="card-description-card"
      head="What is a Card?"
      repo-url="https://github.build.ge.com/PXc/px-sample-cards/releases">
      A <strong>Card</strong> is an editable container that resides within the content area of your screen. For example, there are three sections on this page--each section is a card.
    </description-card>
    <px-card header-text="What is a Deck?">
        <img class="float--right" src="../images/deck.png" style="width:100px;height:50px">
        <p>A <strong>Deck</strong> is an ordered series of cards set by you, the developer.</p>
    </px-card>

    <px-card header-text="Making Decks and Cards">
        <p>Here are examples of the markup used to construct cards and decks.</p>

        <p>A card with static content.</p>
        <figure class="code">
            <code>
                &lt;px-card&gt;
                <br>
                &nbsp;&nbsp;&lt;article role=&quot;article&quot;&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;A very simple card
                <br>
                &nbsp;&nbsp;&lt;/article&gt;
                <br>
                &lt;/px-card&gt;
            </code>
        </figure>

        <p>A named card that is shareable.  This card could have more complex interactions like card to card communication and fetching data.</p>
        <figure class="code">
            <code>
                &lt;link rel="import" href="../polymer/polymer.html"/&gt;<br>
                &lt;link rel="import" href="../px-card/px-card.html"/&gt;<br><br>
                &lt;dom-module id="sample-card"&gt;<br>
                &nbsp;&nbsp;&lt;template&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;px-card header-text="My Card"&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Some content.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/px-card&gt;<br>
                &nbsp;&nbsp;&lt;/template&gt;<br>
                &lt;/dom-module&gt;<br><br>
                &lt;script&gt;<br>
                &nbsp;&nbsp;Polymer({<br>
                &nbsp;&nbsp;&nbsp;&nbsp;is: 'sample-card',<br>
                &nbsp;&nbsp;&nbsp;&nbsp;behaviors: [px.card]<br>
                &nbsp;&nbsp;});<br>
                &lt;/script&gt;<br>
            </code>
        </figure>

        <p>A deck with two named cards.</p>
        <figure class="code">
            <code ng-non-bindable>
                &lt;px-deck context=&quot;{{context}}&quot;&gt;
                <br>
                &nbsp;&nbsp;&lt;sample-card class=&quot;px-card&quot; id=&quot;card1&quot;&lt;/sample-card&gt;
                <br>
                &nbsp;&nbsp;&lt;another-sample-card class=&quot;px-card&quot; id=&quot;card2&quot;&lt;/another-sample-card&gt;
                <br>
                &lt;/px-deck&gt;
            </code>
        </figure>

    </px-card>
</px-deck>
