<px-deck context="{{context}}">
    <!-- <time-series-card class="px-card" id="tsc"></time-series-card> -->
    <px-card header-text="Description of a Card: This is a Card!">
        <p>A Card is an editable container that is composed by the application developer and resides within a
           larger container we call a View. A View is simply the background area of the screen where your content
           is displayed. The white area on this page is the view. The individual cards are the sections of content
           that sit within the view. In this section cards will be shown with these double ended arrows.</p>
    </px-card>
    <px-card header-text="Description of a Deck of Cards">
        <p>A Deck is comprised of a series of Cards that are organized by you, the developer.  The Deck enables card to card communication.</p>
    </px-card>
    <px-card header-text="Making Decks and Cards">
        <p>Making Decks and Cards are easy. Here are some examples.</p>

        <p>A card with static content.</p>
        <figure class="code">
            <code>
                &lt;px-card&gt;
                <br>
                &nbsp;&nbsp;&lt;article role=&quot;article&quot;&gt;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;A very simple card
                <br>
                &nbsp;&nbsp;&lt;/article&gt;
                <br>
                &lt;/px-card&gt;
            </code>
        </figure>

        <p>A named card that is shareable.  This card could have more complex interactions like card to card communication and fetching data.</p>
        <figure class="code">
            <code>
                &lt;link rel="import" href="../polymer/polymer.html"/&gt;<br>
                &lt;link rel="import" href="../px-card/px-card.html"/&gt;<br><br>
                &lt;dom-module id="sample-card"&gt;<br>
                &nbsp;&nbsp;&lt;template&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;px-card header-text="My Card"&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Some content.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/px-card&gt;<br>
                &nbsp;&nbsp;&lt;/template&gt;<br>
                &lt;/dom-module&gt;<br><br>
                &lt;script&gt;<br>
                &nbsp;&nbsp;Polymer({<br>
                &nbsp;&nbsp;&nbsp;&nbsp;is: 'sample-card',<br>
                &nbsp;&nbsp;&nbsp;&nbsp;behaviors: [px.card]<br>
                &nbsp;&nbsp;});<br>
                &lt;/script&gt;<br>
            </code>
        </figure>

        <p>A deck with two named cards.</p>
        <figure class="code">
            <code ng-non-bindable>
                &lt;px-deck context=&quot;{{context}}&quot;&gt;
                <br>
                &nbsp;&nbsp;&lt;sample-card class=&quot;px-card&quot; id=&quot;card1&quot;&lt;/sample-card&gt;
                <br>
                &nbsp;&nbsp;&lt;another-sample-card class=&quot;px-card&quot; id=&quot;card2&quot;&lt;/another-sample-card&gt;
                <br>
                &lt;/px-deck&gt;
            </code>
        </figure>

    </px-card>
</px-deck>
