<px-card id=components>
  <h2 class="epsilon u-mt0 u-pt+">Description of a Component</h2>
  <p>
    A <strong>Component</strong> is a portion of an application that is composed to serve a particular function.
    It is characterized by being self-contained feature that employs UI Elements from the Predix design system.
    <strong>UI Elements</strong> are the individual pieces of consistent visual language to represent items such as buttons, form fields, drop downs and so on.
  </p>
  <p>
    Predix Dashboard Seed allows you to wire up multiple components in a seamless way. Changes you make in one component, can affect the data displayed in another
    (i.e. changing the date range one time series component changes the data range in another)
  </p>
</px-card>

<px-card id=components>
  <h2 class="epsilon u-mt0 u-pt+">Composing an Application Using Components</h2>
  <p class="u-pt+">
    <img src="/images/card-composition-animated.gif" />
  </p>
</px-card>
