<px-card id=components header-text="What is a Component?">
  <p>A <strong>component</strong> is a part of an application that is built to serve a specific function. It is a self-contained feature that uses UI Elements from the Predix design system.</p>

  <p><strong>UI Elements</strong> are individual pieces of a consistent visual language used to represent items
such as buttons, form fields, drop-downs, and other coded patterns.</p>

  <p>In the <strong>Dashboard Seed</strong>, the changes you make in one component can affect the data displayed in another component. For example, changing the date range in one time series component changes the date range in
another.
  </p>
</px-card>

<px-card id=composing>
  <h2 class="epsilon u-mt0 u-pt+">Composing an Application Using Components</h2>
  <p class="u-pt+">
    <img src="/images/card-composition-animated.gif" />
  </p>
</px-card>
