<px-context-browser
    initial-contexts='{{initialContexts}}'
    handlers="ngScope:handlers">
</px-context-browser>

<px-dashboard selected-deck="{{selectedDeck}}" context="{{context}}"></px-dashboard>

<description-card
  id="dashboard-description-card"
  head="What is a Dashboard?"
  repo-url="https://github.build.ge.com/Predix-Experience/predix-seed/releases"
  selected-deck="{{selectedDeck}}"
  context="{{context}}">
  The dashboard is comprised of multiple components, which, when combined with your organization's data provides an overview of the health of your operations.
  <br/><br/>
  Click the <img src="images/select_context.png" alt='Select Context'/> drop-down and you will see a group of countries listed. You can drill down further to states, counties and cities as well. Make a selection by clicking the <strong>OPEN</strong> button. A time series component will then appear on your dashboard. The <strong>Context Browser</strong> and <strong>Time Series Component</strong> have been filled by example data to illustrate how you may add, select and view, your organization's own asset hierarchy and monitoring components.</description-card>
</description-card>
