<link rel="import" href="bower_components/px-sample-cards/time-series-card.html"/>
<link rel="import" href="bower_components/px-sample-cards/dashboard-description.html"/>
<link rel="import" href="/bower_components/px-context-browser/px-context-browser.html"/>

<px-context-browser
    initial-contexts='{{initialContexts}}'
    handlers="ngScope:handlers"
    label-field='{{labelField}}'
    parent-id-field='{{parentIdField}}'
    id-field='{{idField}}'
    tree-display-levels='{{displayLevels}}'>
</px-context-browser>

<px-dashboard selected-deck="{{selectedDeck}}" context="{{context}}"></px-dashboard>
