<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="dashboards" noscript>
    <template>

        <h1>Dashboards page</h1>
        <px-context-browser
                browser-context='{{initialContexts}}'
                handlers="ngScope:handlers"
                opened-item-name="{{initialContextName}}">
        	<px-deck-selector ng-bind-polymer decks="{{decks}}" selected-deck="{{selectedDeck}}" ></px-deck-selector>
        </px-context-browser>

        <px-dashboard view-service-base-url="{{viewServiceBaseUrl}}" selected-deck-id="{{selectedDeck.id}}" context="{{context}}"></px-dashboard>
  </template>
</polymer-element>
