<description-card
  id="data-control-description-card"
  head="How do I Control My Data?"
  repo-url="https://github.build.ge.com/Predix-Experience/px-card">
  This section provides an overview of how to fetch data, bind to data sources, and display your data within cards.
</description-card>

<link rel="import" href="bower_components/px-sample-cards/temperature-card.html"/>
<temperature-card id="temperature-card"></temperature-card>

<link rel="import" href="bower_components/px-sample-cards/fetch-data-card.html"/>
<px-deck context="{{context}}">
  <fetch-data-card class="px-card" id="mycard"></fetch-data-card>
</px-deck>
