<section class="spine" role="region">
  <div class="layout layout--flush spine--primary">
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.1<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.2<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.3<b>AB</b>
        </p>
      </article>
    </div>
  </div>
  <div class="layout layout--flush spine--secondary">
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.1<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.2<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.3<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.4<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.5<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.6<b>AB</b>
        </p>
      </article>
    </div>
  </div>
</section>
<section class="cards" role="region">
  <h2 class="caps m0 p+">
    <i class="fa fa-briefcase"></i>
    Lorem Ipsum
  </h2>
  <div class="layout layout--flush">
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.1<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.2<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.3<b>AB</b>
        </p>
      </article>
    </div>
  </div>
  <div class="layout layout--flush">
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.4<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.5<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.6<b>AB</b>
        </p>
      </article>
    </div>
  </div>
</section>
<section id="home-page" class="p" role="region">
  <header>
    <h2>{{name}}</h2>
  </header>
  <article role="article">
    <header>
      <h3>Hello!</h3>
    </header>
    <p>Welcome to your Predix 2.0 seed web application.</p>
    <h4>To Run Locally</h4>
    <p>In the root directory, run:</p>
    <div class="code">
      <code>
        npm install
        <br/>
        bower install
        <br/>
        grunt serve
      </code>
    </div>
    <p>
      Then use the credentials
      <strong>rocket/Gu@rdian5</strong>
      to log in (Provided by UAA Server).
    </p>
    <h4>To Run on the Cloud</h4>
    <div class="code">
      <code>cf push</code>
    </div>
  </article>
</section>
