<px-card id="home-page">
  <article role="article">
    <h1 class="u-mt0 u-pt+">About</h1>
    <p>Welcome to your Predix 2.0 seed web application.</p>
    <p>For a walkthrough of the project & more detailed information -- see the README</p>
    <h4>To Run Locally</h4>
    <p>In the root directory, run:</p>
    <figure class="code">
      <code>
        npm install
        <br/>
        bower install
        <br/>
        grunt serve
      </code>
    </figure>
    <p>
      Then use the credentials
      <strong>rocket/Gu@rdian5</strong>
      to log in (Provided by UAA Server).
    </p>
    <h4>To Run on the Cloud</h4>
    <figure class="code">
      <code>cf push</code>
    </figure>
  </article>
</px-card>
