<div id="home-page" class="page">
    <div class="page-header voice voice-brand">
        <h1 class="pull-left page-title">{{name}}</h1>
    </div>
    <div class="row module-set">
        <div class="col-sm-12">
            <section class="module">
                <header class="module-header">
                    <h3 class="voice voice-brand pull-left">Hello!</h3>
                </header>
                <div class="module-body">

                    <p>Welcome to your Predix 2.0 seed web application.</p>

                    <h2>To Run Locally</h2>

                    <!--<h3>Install Framework</h3>-->

                    <!--<ol>-->
                        <!--<li>Play! 2.3.4: <a-->
                            <!--href="http://downloads.typesafe.com/typesafe-activator/1.2.10/typesafe-activator-1.2.10-minimal.zip">http://downloads.typesafe.com/typesafe-activator/1.2.10/typesafe-activator-1.2.10-minimal.zip</a>-->
                        <!--</li>-->
                        <!--<li>Node ^0.10.28: <a href="http://nodejs.org/download/">http://nodejs.org/download/</a>-->
                        <!--</li>-->
                        <!--<li>Python 2.7.5</li>-->
                    <!--</ol>-->
                    <!--<h3>Setup your proxy settings</h3>-->

                    <!--<p>In <code>~/.activator/activatorconfig.txt</code> (NOTE: you may need to create this file), add-->
                       <!--the following:</p>-->

<!--<pre><code>-->
            <!---Dhttp.proxyHost=proxy-src.research.ge.com-->
            <!---Dhttp.proxyPort=8080-->
            <!---Dhttps.proxyHost=proxy-src.research.ge.com-->
            <!---Dhttps.proxyPort=8080-->
            <!---Dhttp.nonProxyHosts=*.swcoe.ge.com|localhost</code></pre>-->

                    <!--<p>npm config proxy </p>-->

                    <!--<pre><code>-->
                        <!--npm config set proxy http://proxy-src.research.ge.com:8080-->
                        <!--npm config set https-proxy http://proxy-src.research.ge.com:8080-->
                        <!--npm config set registry http://registry.npmjs.org-->
                        <!--npm config set strict-ssl false-->
                    <!--</code></pre>-->

                    <!--<h3>Install Dependencies</h3>-->

                    <!--<pre><code>-->
                        <!--npm install-->
                        <!--npm install -g bower-->
                        <!--npm install -g grunt-cli-->
                        <!--bower install-->
                        <!--grunt update-->
                    <!--</code></pre>-->

                    <!--<h3>Running the app</h3>-->

                    <p>In the root directory, run:</p>

                    <pre><code>activator run</code></pre>

                    <p>Then use the credentials <strong>demo/demo</strong> to log in.</p>

                    <h2>To Run on the Cloud</h2>

                    <pre><code>cf push</code></pre>

                </div>
                <footer class="module-footer">
                </footer>
            </section>
        </div>
    </div>
</div>
