<px-deck>

  <description-card
    id="interactions-description-card"
    head="What can I do with Cards?"
    repo-url="https://github.build.ge.com/PXc/px-sample-cards/releases">
    Cards can interact with other cards, UI elements outside of themselves, and also allow interactions between widgets within an individual card. You can show and hide cards as needed. Below are examples of what cards can do.
  </description-card>

  <widget-to-widget-card id="w2w"></widget-to-widget-card>

  <px-deck id="my-deck">
    <card-to-card id="card-to-card-1">
      <h3>Card A</h3>
    </card-to-card>
    <card-to-card id="card-to-card-2">
      <h3>Card B</h3>
    </card-to-card>
  </px-deck>

  <toggle-card id="toggle-card"></toggle-card>

  <hide-card id="hide-card"></hide-card>

</px-deck>
