<div class="page-header voice voice-brand">
    <h1 class="pull-left page-title" id="page-1-title">{{"Application.Page" | vmessages: 1}}</h1>
</div>


<div class="row module-set">

    <section id="page-1-module-1" class="module span6">
        <header class="module-header">
            <h3 id="page-1-module-1-title" class="voice voice-brand pull-left">{{"page.module" | vmessages}}</h3>
        </header>
        <div id="page-1-module-1-body" class="module-body">
            <time-series-chart data-title="{{widget1.title}}" data-x-axis-title="{{widget1.xAxisTitle}}" data-data="{{widget1.data}}" data-x-axis-key="{{widget1.xAxisKey}}" data-subtitle="{{widget1.subtitle}}" data-y-axis-title="{{widget1.yAxisTitle}}" data-max-num-points="{{widget1.maxNumPoints}}" data-series-key="{{widget1.seriesKey}}" data-y-axis-key="{{widget1.yAxisKey}}"></time-series-chart>
        </div>
        <footer class="module-footer"></footer>
    </section>

    <section id="page-1-module-2" class="module span6">
        <header class="module-header">
            <h3 id="page-1-module-2-title" class="voice voice-brand pull-left">{{"page.module" | vmessages}}</h3>
        </header>
        <div id="page-1-module-2-body" class="module-body">
            <time-series-chart data-title="{{widget2.title}}" data-x-axis-title="{{widget2.xAxisTitle}}" data-data="{{widget2.data}}" data-x-axis-key="{{widget2.xAxisKey}}" data-subtitle="{{widget2.subtitle}}" data-y-axis-title="{{widget2.yAxisTitle}}" data-max-num-points="{{widget2.maxNumPoints}}" data-series-key="{{widget2.seriesKey}}" data-y-axis-key="{{widget2.yAxisKey}}"></time-series-chart>
        </div>
        <footer class="module-footer"></footer>
    </section>

</div>



