<div class="page-header voice voice-brand">
    <h1 class="pull-left page-title" id="page-2-title">Page 2</h1>
</div>

<div class="row module-set">

    <section id="page-2-module-1" class="module span8">
        <header class="module-header">
            <h3 id="page-2-module-1-title" class="voice voice-brand pull-left">Module</h3>
        </header>
        <div id="page-2-module-1-body" class="module-body"></div>
        <footer class="module-footer"></footer>
    </section>

    <section id="page-2-module-2" class="module span4">
        <header class="module-header">
            <h3 id="page-2-module-2-title" class="voice voice-brand pull-left">Module</h3>
        </header>
        <div id="page-2-module-2-body" class="module-body"></div>
        <footer class="module-footer"></footer>
    </section>

    <section id="page-2-module-3" class="module span9">
        <header class="module-header">
            <h3 id="page-2-module-3-title" class="voice voice-brand pull-left">Module</h3>
        </header>
        <div id="page-2-module-3-body" class="module-body"></div>
        <footer class="module-footer"></footer>
    </section>

    <section id="page-2-module-4" class="module span3">
        <header class="module-header">
            <h3 id="page-2-module-4-title" class="voice voice-brand pull-left">Module</h3>
        </header>
        <div id="page-2-module-4-body" class="module-body"></div>
        <footer class="module-footer"></footer>
    </section>

</div>