<link rel="import" href="../cards/time-series-card.html"/>

<px-deck>
    <time-series-card class="px-card" context="{{context}}"></time-series-card>
</px-deck>

<section class="spine" role="region">
  <div class="layout layout--flush spine--primary">
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.1<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.2<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.3<b>AB</b>
        </p>
      </article>
    </div>
  </div>
  <div class="layout layout--flush spine--secondary">
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.1<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.2<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.3<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.4<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.5<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.6<b>AB</b>
        </p>
      </article>
    </div>
  </div>
</section>
<section class="cards" role="region">
  <h2 class="caps m0 p+">
    <i class="fa fa-briefcase"></i>
    Lorem Ipsum
  </h2>
  <div class="layout layout--flush">
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.1<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.2<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.3<b>AB</b>
        </p>
      </article>
    </div>
  </div>
  <div class="layout layout--flush">
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.4<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.5<b>AB</b>
        </p>
      </article>
    </div>
    <div class="layout__item">
      <article role="article">
        <h3>Lorem Ipsum</h3>
        <p>
          123.6<b>AB</b>
        </p>
      </article>
    </div>
  </div>
</section>