
<div class="page-header voice voice-brand">
    <h1 class="pull-left page-title" id="titlef5cddb21-6b4f-4451-8ff3-bbd6528fd58a_">Static Data 1</h1>
</div>


<div class="row module-set">
    
    <section id="module-0" class="module span8" data-uuid="6488eff5-47cc-4158-82c7-77f602788ca1_" data-id="module-0">
    <header class="module-header">
        <h3 id="module-0-title" class="voice voice-brand pull-left">Module 1</h3>
    </header>
    <div id="module-6488eff5-47cc-4158-82c7-77f602788ca1_" class="module-body" data-uuid="6488eff5-47cc-4158-82c7-77f602788ca1_" data-id="module-0"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-1" class="module span4" data-uuid="d018f36f-4ab6-4fd8-a840-69f1d5ee284f_" data-id="module-1">
    <header class="module-header">
        <h3 id="module-1-title" class="voice voice-brand pull-left">Module 2</h3>
    </header>
    <div id="module-d018f36f-4ab6-4fd8-a840-69f1d5ee284f_" class="module-body" data-uuid="d018f36f-4ab6-4fd8-a840-69f1d5ee284f_" data-id="module-1"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-2" class="module span4" data-uuid="55f481ae-af6a-499d-a053-eb902b9b7104_" data-id="module-2">
    <header class="module-header">
        <h3 id="module-2-title" class="voice voice-brand pull-left">Module 3</h3>
    </header>
    <div id="module-55f481ae-af6a-499d-a053-eb902b9b7104_" class="module-body" data-uuid="55f481ae-af6a-499d-a053-eb902b9b7104_" data-id="module-2"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-3" class="module span4" data-uuid="dec0135e-a0f4-46a5-a102-0a76e16b348a_" data-id="module-3">
    <header class="module-header">
        <h3 id="module-3-title" class="voice voice-brand pull-left">Module 4</h3>
    </header>
    <div id="module-dec0135e-a0f4-46a5-a102-0a76e16b348a_" class="module-body" data-uuid="dec0135e-a0f4-46a5-a102-0a76e16b348a_" data-id="module-3"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-4" class="module span4" data-uuid="17569b68-a2c2-460a-b2ba-b11c51bc2876_" data-id="module-4">
    <header class="module-header">
        <h3 id="module-4-title" class="voice voice-brand pull-left">Module 5</h3>
    </header>
    <div id="module-17569b68-a2c2-460a-b2ba-b11c51bc2876_" class="module-body" data-uuid="17569b68-a2c2-460a-b2ba-b11c51bc2876_" data-id="module-4"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-5" class="module span8" data-uuid="3913657a-072a-4682-9d1b-29d4b2049f8e_" data-id="module-5">
    <header class="module-header">
        <h3 id="module-5-title" class="voice voice-brand pull-left">Module 6</h3>
    </header>
    <div id="module-3913657a-072a-4682-9d1b-29d4b2049f8e_" class="module-body" data-uuid="3913657a-072a-4682-9d1b-29d4b2049f8e_" data-id="module-5"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-6" class="module span4" data-uuid="9cd2a1da-8ec4-4361-8fe1-b667a5487121_" data-id="module-6">
    <header class="module-header">
        <h3 id="module-6-title" class="voice voice-brand pull-left">Module 7</h3>
    </header>
    <div id="module-9cd2a1da-8ec4-4361-8fe1-b667a5487121_" class="module-body" data-uuid="9cd2a1da-8ec4-4361-8fe1-b667a5487121_" data-id="module-6"></div>
    <footer class="module-footer"></footer>
    </section>
    
</div>




