
<div class="page-header voice voice-brand">
    <h1 class="pull-left page-title" id="title0750c51c-7a6e-499b-b0e4-6eaf25909a98_">Static Data 2</h1>
</div>


<div class="row module-set">
    
    <section id="module-0" class="module span8" data-uuid="68280bf7-b5e8-460e-9887-503186a48486_" data-id="module-0">
    <header class="module-header">
        <h3 id="module-0-title" class="voice voice-brand pull-left">Module 1</h3>
    </header>
    <div id="module-68280bf7-b5e8-460e-9887-503186a48486_" class="module-body" data-uuid="68280bf7-b5e8-460e-9887-503186a48486_" data-id="module-0"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-1" class="module span4" data-uuid="ed41236d-9518-43dc-86de-567260f0e8d5_" data-id="module-1">
    <header class="module-header">
        <h3 id="module-1-title" class="voice voice-brand pull-left">Module 2</h3>
    </header>
    <div id="module-ed41236d-9518-43dc-86de-567260f0e8d5_" class="module-body" data-uuid="ed41236d-9518-43dc-86de-567260f0e8d5_" data-id="module-1"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-2" class="module span4" data-uuid="3286d2c6-e84c-4353-9d40-3734dc6be3fd_" data-id="module-2">
    <header class="module-header">
        <h3 id="module-2-title" class="voice voice-brand pull-left">Module 3</h3>
    </header>
    <div id="module-3286d2c6-e84c-4353-9d40-3734dc6be3fd_" class="module-body" data-uuid="3286d2c6-e84c-4353-9d40-3734dc6be3fd_" data-id="module-2"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-3" class="module span4" data-uuid="244cf1d3-57ee-4a6d-8f08-9ec1220b5c34_" data-id="module-3">
    <header class="module-header">
        <h3 id="module-3-title" class="voice voice-brand pull-left">Module 4</h3>
    </header>
    <div id="module-244cf1d3-57ee-4a6d-8f08-9ec1220b5c34_" class="module-body" data-uuid="244cf1d3-57ee-4a6d-8f08-9ec1220b5c34_" data-id="module-3"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-4" class="module span4" data-uuid="380586d4-62aa-47c2-ad4b-b94775b5afe7_" data-id="module-4">
    <header class="module-header">
        <h3 id="module-4-title" class="voice voice-brand pull-left">Module 5</h3>
    </header>
    <div id="module-380586d4-62aa-47c2-ad4b-b94775b5afe7_" class="module-body" data-uuid="380586d4-62aa-47c2-ad4b-b94775b5afe7_" data-id="module-4"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-5" class="module span8" data-uuid="829e67db-211e-4f89-99b6-e9a783e98874_" data-id="module-5">
    <header class="module-header">
        <h3 id="module-5-title" class="voice voice-brand pull-left">Module 6</h3>
    </header>
    <div id="module-829e67db-211e-4f89-99b6-e9a783e98874_" class="module-body" data-uuid="829e67db-211e-4f89-99b6-e9a783e98874_" data-id="module-5"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-6" class="module span4" data-uuid="e94e4c3f-12a8-4594-8b7e-ae9a86d67b56_" data-id="module-6">
    <header class="module-header">
        <h3 id="module-6-title" class="voice voice-brand pull-left">Module 7</h3>
    </header>
    <div id="module-e94e4c3f-12a8-4594-8b7e-ae9a86d67b56_" class="module-body" data-uuid="e94e4c3f-12a8-4594-8b7e-ae9a86d67b56_" data-id="module-6"></div>
    <footer class="module-footer"></footer>
    </section>
    
</div>




