<link rel="import" href="../bower_components/px-ts-chart/px-ts-chart.html"/>
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html"/>

<section class="u-m+">

  <h2 class="epsilon">Time Series Charts</h2>

  <section>
    <h5>Simple, data-bound configuration</h5>
    <px-ts-chart>
      <px-chart-series id="temperature"
                       series-obj="{{simpleTimeSeries.queries}}"
                       series-obj-data-key="values"></px-chart-series>
    </px-ts-chart>
  </section>

  <section class="minimal-config-example u-mb+">
    <h5>Minimal Configuration</h5>
    <px-ts-chart export-server-url="http://export.highcharts.com"> <!-- WARNING, export.highcharts.com is a public server for demo only -->
      <px-ts-chart-controls data-controls show-export="true" zoom-buttons="[]"></px-ts-chart-controls>
      <px-chart-series id="fan-vibration-cruise">
        <!-- demo only...normally you'd just data bind a 'data' array or 'seriesObj' object to the 'data' or 'series-obj'
        attribute...similar to the first example chart above -->
        <iron-ajax
            url="../sample-data/fan-vibration-cruise.json"
            handle-as="json"></iron-ajax>
      </px-chart-series>
    </px-ts-chart>
  </section>

  <section class="full-config-example u-mt+">

    <h5>Full Configuration</h5>

    <px-ts-chart>
      <px-ts-chart-controls data-controls show-refresh="true" show-date-range="true"></px-ts-chart-controls>
      <px-chart-yaxis id="firstAxis" offset="0"></px-chart-yaxis>
      <px-chart-yaxis id="anotherAxis" opposite="true" offset="-2.5"></px-chart-yaxis>
      <px-chart-series id="delta-egt-cruise" axis-id="firstAxis" upper-threshold="30.5" lower-threshold="6.25">
        <!-- demo only...normally you'd just data bind a 'data' array or 'seriesObj' object to the 'data' or 'series-obj'
        attribute...similar to the first example chart above -->
        <iron-ajax
            url="../sample-data/delta-egt-cruise.json"
            handle-as="json"></iron-ajax>
      </px-chart-series>
      <px-chart-series id="fan-vibration-cruise" axis-id="anotherAxis">
        <!-- demo only...normally you'd just data bind a 'data' array or 'seriesObj' object to the 'data' or 'series-obj'
        attribute...similar to the first example chart above -->
        <iron-ajax
            url="../sample-data/fan-vibration-cruise.json"
            handle-as="json"></iron-ajax>
      </px-chart-series>
    </px-ts-chart>

    <p class="u-mt+">
      Demo controls for bottom chart:
      <!--Toggle Point Markers:-->
      <!--<input id="demo-point-toggle" class="toggle__input" type="checkbox"/>-->
      <!--<label for="demo-point-toggle" class="toggle__label">…</label>-->
      <button class="btn" onclick="togglePointMarkers()">Toggle Point Markers</button>
      <button class="btn" onclick="addSeries('core-vibe-rear-cruise', '../sample-data/core-vibe-rear-cruise.json')">Add Core Vibration Series</button>
      <button class="btn" onclick="removeSeries('core-vibe-rear-cruise')">Remove Core Vibration Series</button>
    </p>

  </section>

  <script>
    //register series refresh listener for full config chart:
    Polymer.dom(document).querySelector('.full-config-example px-ts-chart').addEventListener("refresh-series", function(evt) {
      if (evt.detail === "fan-vibration-cruise") {
        var ironAjaxEl = document.createElement('iron-ajax');
        ironAjaxEl.url = '../sample-data/fan-vibration-cruise2.json';
        ironAjaxEl.handleAs = "json";
        ironAjaxEl.addEventListener('response', function(evt) {
          var tsChart = Polymer.dom(document).querySelector('.full-config-example px-ts-chart');
          tsChart.updateSeries('fan-vibration-cruise', evt.detail.response.series, /*noRedraw*/false);
        });

        ironAjaxEl.generateRequest();
      }
    });

    function togglePointMarkers(evt){
      var tsChart = Polymer.dom(document).querySelector('.full-config-example px-ts-chart');
      tsChart.togglePointMarkers(/*seriesIds*/null);
    }


    function addSeries(seriesId, seriesObjUrl) {
      var timeSeriesComp = document.querySelector(".full-config-example px-ts-chart");
      if (timeSeriesComp.chart.get(seriesId)) {
        console.log("series " + seriesId + " already exists on chart.");
      }
      else {
        var ironAjaxEl = document.createElement("iron-ajax");
        ironAjaxEl.url = seriesObjUrl;
        ironAjaxEl.handleAs = "json";
        ironAjaxEl.addEventListener("response", function(evt) {
          timeSeriesComp.addSeries({
                id: seriesId,
                name: seriesId,
                data: evt.detail.response.series,
                yAxis: 3
              },
              /*noRedraw*/false
          );
        });

        ironAjaxEl.generateRequest();
      }
    }

    function removeSeries (seriesId) {
      var timeSeriesComp = document.querySelector(".full-config-example px-ts-chart");
      if (timeSeriesComp.chart.get(seriesId)) {
        timeSeriesComp.removeSeries(seriesId);
      }
      else {
        console.log("series " + seriesId + " does not exist on chart.");
      }
    }
  </script>
</section>