
<div class="page-header voice voice-brand">
    <h1 class="pull-left page-title" id="title1181f813-1241-4797-931f-6065156d08f6_">websocket</h1>
</div>


<div class="row module-set">
    
    <section id="module-0" class="module span8" data-uuid="fa69ff9e-be84-41f3-838d-32e49e454bbd_" data-id="module-0">
    <header class="module-header">
        <h3 id="module-0-title" class="voice voice-brand pull-left">Module 1</h3>
    </header>
    <div id="module-fa69ff9e-be84-41f3-838d-32e49e454bbd_" class="module-body" data-uuid="fa69ff9e-be84-41f3-838d-32e49e454bbd_" data-id="module-0"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-1" class="module span4" data-uuid="f46dd0b5-a87a-46a1-9816-1907b865cefc_" data-id="module-1">
    <header class="module-header">
        <h3 id="module-1-title" class="voice voice-brand pull-left">Module 2</h3>
    </header>
    <div id="module-f46dd0b5-a87a-46a1-9816-1907b865cefc_" class="module-body" data-uuid="f46dd0b5-a87a-46a1-9816-1907b865cefc_" data-id="module-1">
        <time-series-chart data-title="{{widget2.title}}" data-x-axis-title="{{widget2.xAxisTitle}}" data-data="{{widget2.data}}" data-x-axis-key="{{widget2.xAxisKey}}" data-subtitle="{{widget2.subtitle}}" data-y-axis-title="{{widget2.yAxisTitle}}" data-max-num-points="{{widget2.maxNumPoints}}" data-series-key="{{widget2.seriesKey}}" data-y-axis-key="{{widget2.yAxisKey}}"></time-series-chart>
    </div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-2" class="module span8" data-uuid="c9568d96-3dc2-4033-971f-4d75ee7d3934_" data-id="module-2">
    <header class="module-header">
        <h3 id="module-2-title" class="voice voice-brand pull-left">Module 3</h3>
    </header>
    <div id="module-c9568d96-3dc2-4033-971f-4d75ee7d3934_" class="module-body" data-uuid="c9568d96-3dc2-4033-971f-4d75ee7d3934_" data-id="module-2"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-3" class="module span4" data-uuid="644b2af4-75e5-47c6-bb9d-2a58721213e8_" data-id="module-3">
    <header class="module-header">
        <h3 id="module-3-title" class="voice voice-brand pull-left">Module 4</h3>
    </header>
    <div id="module-644b2af4-75e5-47c6-bb9d-2a58721213e8_" class="module-body" data-uuid="644b2af4-75e5-47c6-bb9d-2a58721213e8_" data-id="module-3"></div>
    <footer class="module-footer"></footer>
    </section>
    
</div>




