<div id="widgets-page" class="page">
    <div class="page-header voice voice-brand">
        <h1 class="pull-left page-title">{{name}}</h1>
    </div>
    <div class="row module-set">
        <div class="col-sm-6">
            <section class="module">
                <header class="module-header">
                    <h3 class="voice voice-brand pull-left">Sample Widget 1</h3>
                </header>
                <div class="module-body">
                    <px-timeseries data-title="timeSeries.title" data-show-y-axis-units="timeSeries.showYAxisUnits"
                                   data-plot-type="timeSeries.plotType"
                                   data-queries="timeSeries.queries"></px-timeseries>
                </div>
                <footer class="module-footer">
                </footer>
            </section>
        </div>
        <div class="col-sm-6">
            <section class="module">
                <header class="module-header">
                    <h3 class="voice voice-brand pull-left">Sample Widget 2</h3>
                </header>
                <div class="module-body sample-datagrid">
                    <px-datagrid data-title="datagrid.title" data-table-data="datagrid.tableData"
                                 data-columns="datagrid.columns"></px-datagrid>
                </div>
                <footer class="module-footer">
                </footer>
            </section>
        </div>
    </div>
</div>
