
<div class="page-header voice voice-brand">
    <h1 class="pull-left page-title" id="titlef199859b-69dc-412b-8402-fe05801faac5_">Widget to Widget</h1>
</div>


<div class="row module-set">
    
    <section id="module-0" class="module span8" data-uuid="1545ff00-ea64-4ab9-8e28-115ccb685c9e_" data-id="module-0">
    <header class="module-header">
        <h3 id="module-0-title" class="voice voice-brand pull-left">Module 1</h3>
    </header>
    <div id="module-1545ff00-ea64-4ab9-8e28-115ccb685c9e_" class="module-body" data-uuid="1545ff00-ea64-4ab9-8e28-115ccb685c9e_" data-id="module-0"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-1" class="module span4" data-uuid="e355f5fa-4e6d-45e3-b816-48d72391cb12_" data-id="module-1">
    <header class="module-header">
        <h3 id="module-1-title" class="voice voice-brand pull-left">Module 2</h3>
    </header>
    <div id="module-e355f5fa-4e6d-45e3-b816-48d72391cb12_" class="module-body" data-uuid="e355f5fa-4e6d-45e3-b816-48d72391cb12_" data-id="module-1"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-2" class="module span4" data-uuid="b0565a4a-9176-49ee-9b6c-40123e6441a6_" data-id="module-2">
    <header class="module-header">
        <h3 id="module-2-title" class="voice voice-brand pull-left">Module 3</h3>
    </header>
    <div id="module-b0565a4a-9176-49ee-9b6c-40123e6441a6_" class="module-body" data-uuid="b0565a4a-9176-49ee-9b6c-40123e6441a6_" data-id="module-2"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-3" class="module span4" data-uuid="98e744d0-1e0d-4f5e-9885-2724172a0521_" data-id="module-3">
    <header class="module-header">
        <h3 id="module-3-title" class="voice voice-brand pull-left">Module 4</h3>
    </header>
    <div id="module-98e744d0-1e0d-4f5e-9885-2724172a0521_" class="module-body" data-uuid="98e744d0-1e0d-4f5e-9885-2724172a0521_" data-id="module-3"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-4" class="module span4" data-uuid="de6c86ca-1187-472b-8bd9-45d9e0f86126_" data-id="module-4">
    <header class="module-header">
        <h3 id="module-4-title" class="voice voice-brand pull-left">Module 5</h3>
    </header>
    <div id="module-de6c86ca-1187-472b-8bd9-45d9e0f86126_" class="module-body" data-uuid="de6c86ca-1187-472b-8bd9-45d9e0f86126_" data-id="module-4"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-5" class="module span8" data-uuid="c169db1b-a74d-43b1-b174-efea13dbf59c_" data-id="module-5">
    <header class="module-header">
        <h3 id="module-5-title" class="voice voice-brand pull-left">Module 6</h3>
    </header>
    <div id="module-c169db1b-a74d-43b1-b174-efea13dbf59c_" class="module-body" data-uuid="c169db1b-a74d-43b1-b174-efea13dbf59c_" data-id="module-5"></div>
    <footer class="module-footer"></footer>
    </section>
    
    <section id="module-6" class="module span4" data-uuid="0993d3ee-db8c-4255-bcb2-fadd157ac2a0_" data-id="module-6">
    <header class="module-header">
        <h3 id="module-6-title" class="voice voice-brand pull-left">Module 7</h3>
    </header>
    <div id="module-0993d3ee-db8c-4255-bcb2-fadd157ac2a0_" class="module-body" data-uuid="0993d3ee-db8c-4255-bcb2-fadd157ac2a0_" data-id="module-6"></div>
    <footer class="module-footer"></footer>
    </section>
    
</div>




