<div class="position-absolute full-xy scroll-y-auto">
<link rel="import" href="../bower_components/px-timeseries/px-time-series.html"/>
<div id="widgets-page" class="page">
    <div class="page-header voice voice-brand">
        <h1 class="pull-left page-title">{{name}}</h1>
    </div>
    <div class="row module-set">
        <div class="col-sm-12">
            <section class="module">
                <header class="module-header">
                    <h3 class="voice voice-brand pull-left">Sample Widget 1</h3>
                </header>
                <div class="module-body">
                    <px-time-series queries="{{timeSeries.queries}}">
                    </px-time-series>
                </div>
                <footer class="module-footer">
                </footer>
            </section>
        </div>
    </div>
</div>
</div>
