<link rel="import" href="../bower_components/px-ts-chart/px-ts-chart.html"/>
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html"/>

<px-card>

  <px-card>
    <widget-to-widget-card id="sample"></widget-to-widget-card>
  </px-card>

  <px-card header-text="Data-bound widgets">
    <template is="dom-bind">
      <section class=u-mb+ role=region>
        <px-ts-chart chart-state={{sharedState}}>
          <px-ts-chart-controls data-controls show-date-range></px-ts-chart-controls>
          <px-chart-yaxis id="firstAxis" offset="0"></px-chart-yaxis>
          <px-chart-yaxis id="anotherAxis" opposite="true" offset="-2.5"></px-chart-yaxis>
          <px-chart-series id="delta-egt-cruise" axis-id="firstAxis">
            <iron-ajax
                url="../sample-data/delta-egt-cruise.json"
                handle-as="json"></iron-ajax>
          </px-chart-series>
          <px-chart-series id="fan-vibration-cruise" axis-id="anotherAxis">
            <iron-ajax
                url="../sample-data/fan-vibration-cruise.json"
                handle-as="json"></iron-ajax>
          </px-chart-series>
        </px-ts-chart>
      </section>

      <section class=u-mb+ role=region>
        <px-ts-chart chart-state={{sharedState}}>
          <px-ts-chart-controls data-controls show-date-range></px-ts-chart-controls>
          <px-chart-yaxis id="firstAxis" offset="0"></px-chart-yaxis>
          <px-chart-yaxis id="anotherAxis" opposite="true" offset="-2.5"></px-chart-yaxis>
          <px-chart-series id="delta-egt-cruise" axis-id="firstAxis">
            <iron-ajax
                url="../sample-data/delta-egt-cruise.json"
                handle-as="json"></iron-ajax>
          </px-chart-series>
          <px-chart-series id="fan-vibration-cruise" axis-id="anotherAxis">
            <iron-ajax
                url="../sample-data/fan-vibration-cruise.json"
                handle-as="json"></iron-ajax>
          </px-chart-series>
        </px-ts-chart>
      </section>

      <section role=region>
        <px-ts-chart chart-state={{sharedState}}>
          <px-ts-chart-controls data-controls show-date-range></px-ts-chart-controls>
          <px-chart-yaxis id="firstAxis" offset="0"></px-chart-yaxis>
          <px-chart-yaxis id="anotherAxis" opposite="true" offset="-2.5"></px-chart-yaxis>
          <px-chart-series id="delta-egt-cruise" axis-id="firstAxis">
            <iron-ajax
                url="../sample-data/delta-egt-cruise.json"
                handle-as="json"></iron-ajax>
          </px-chart-series>
          <px-chart-series id="fan-vibration-cruise" axis-id="anotherAxis">
            <iron-ajax
                url="../sample-data/fan-vibration-cruise.json"
                handle-as="json"></iron-ajax>
          </px-chart-series>
        </px-ts-chart>
      </section>

    </template>
  </px-card>
</px-card>
