// Default color values
// customizable outside of component using custom CSS properties
// inside the var()
$fill-color  : var(--px-path-guide-fill-color, #3ab4d4);
$line-color  : var(--px-path-guide-line-color, #fff);
$font-color  : var(--px-path-guide-font-color, #fff);
$connector-length : var(--px-path-guide-connector-length, 100px);
$step-height : var(--px-path-guide-step-height, 20px);
$step-width : var(--px-path-guide-step-width, 20px);
$step-radius : var(--px-path-guide-step-radius, 10px);

iron-icon {
  --iron-icon-width: 14px;
  --iron-icon-height: 14px;
  --iron-icon-fill-color: $font-color;
  left: 50%;
  margin-left: -6px;
}

.step-shell {
  display: block;
  width: $step-width;
  height: $step-height;
  border-radius: $step-radius;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  border-color: $line-color;
  position: relative;
  background-color: $fill-color;
}

.current-step {
  border: 1px double $line-color;
}

.step-connector {
  display: inline-block;
  vertical-align: top;
  width: $connector-length;
  height: 10px;
  margin: auto -25px;
  margin-top: $step-radius;
  border-top: 1px solid $line-color;
}

.step-connector:last-of-type {
  display: none;
}

.step-label {
  color: $font-color;
  width: 60px;
  font-size: 12px;
  text-align: center;
}

.node-shell {
  height: 40px;
  width: 60px;
  display: inline-block;
}
