:host {
  --px-path-guide-fill-color: #3ab4d4;
  --px-path-guide-line-color: #fff;
  --px-path-guide-font-color: #fff;
  --px-path-guide-connector-length: 80px;
  --px-path-guide-step-diameter: 16px;
  --px-path-guide-step-radius: 8px;
  --px-path-guide-current-step-diameter: 28px;
  --px-path-guide-current-step-radius: 14px;
  --px-path-guide-current-step-fill-color: #fff;
  --px-path-guide-current-step-line-color: #3ab4d4;
  --px-path-guide-current-step-font-color: #3ab4d4;
  --px-path-guide-current-step-font-weight: bold;
}

.step-icon {
  display: block;
  width: var(--px-path-guide-step-diameter);
  height: var(--px-path-guide-step-diameter);
  border-radius: var(--px-path-guide-step-radius);
  border: 1px solid;
  margin-left: -var(--px-path-guide-step-radius);
  margin-top: -var(--px-path-guide-step-radius);
  border-color: var(--px-path-guide-line-color);
  position: relative;
  background-color: var(--px-path-guide-fill-color);
}

.step-icon.current {
  width: var(--px-path-guide-current-step-diameter);
  height: var(--px-path-guide-current-step-diameter);
  border-radius: var(--px-path-guide-current-step-radius);
  border-color: var(--px-path-guide-current-step-line-color);
  background-color: var(--px-path-guide-current-step-fill-color);
  font-weight: var(--px-path-guide-current-step-font-weight);
  margin-left: -var(--px-path-guide-current-step-radius);
  margin-top: -var(--px-path-guide-current-step-radius);
}

iron-icon {
  position: absolute;
  --iron-icon-width: 14px;
  --iron-icon-height: 14px;
  --iron-icon-fill-color: var(--px-path-guide-font-color);
  left: -5px;
  top: -6px;
}

iron-icon.current {
  --iron-icon-fill-color: var(--px-path-guide-current-step-font-color);
}

.step-label {
  position: absolute;
  color: var(--px-path-guide-font-color);
  width: 70px;
  font-size: 12px;
  text-align: center;
  top: 20px;
  left: -35px;
}

.step-label.current {
  position: absolute;
  color: var(--px-path-guide-current-step-font-color);
  font-weight: var(--px-path-guide-current-step-font-weight);
  width: 70px;
  font-size: 12px;
  text-align: center;
  top: 20px;
  left: -35px;
}

.step-connector {
  position: relative;
  vertical-align:middle;
  display: inline-block;
  width: var(--px-path-guide-connector-length);
  height: 1px;
  background-color: var(--px-path-guide-line-color);
}

.step-connector:last-of-type {
  width: 1px;
}
