@charset "UTF-8";

.kpi-datapoint-wrapper {
  position: relative;
  background-color: var(--kpi-datapoint-wrapper-background-color, #2886af);
  display: var(--kpi-datapoint-wrapper-display, inline-block);
  border-radius: var(--kpi-datapoint-wrapper-border-radius, 10px);
  width: var(--kpi-datapoint-wrapper-width, 150px);
  height: var(--kpi-datapoint-wrapper, 80px);
  margin-right: 5px;
}

.kpi-datapoint-wrapper:hover {
  background-color: var(--kpi-datapoint-wrapper-background-color-hover, #eee);
}

.kpi-datapoint-wrapper:hover * {
  color: var(--kpi-datapoint-wrapper-color-hover, #2886af);
}

.kpi-datapoint-label {
  white-space: nowrap;
  text-align: center;
  margin: 10px auto 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: var(--kpi-datapoint-wrapper-width, 80%);
  height: var(--kpi-datapoint-wrapper, 15px);
  color: var(--kpi-datapoint-label-color, #fff);
  font-size: var(--kpi-dagtapoint-label-font-size, 14px);
  font-weight: bold;
}

.kpi-datapoint-value-units {
  text-align: center;
  margin: 0px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: var(--kpi-datapoint-value-units-width, 100%);
  height: var(--kpi-datapoint-value-units-height, 55px);
  color: var(--kpi-datapoint-value-units-color, #fff);
}

.kpi-datapoint-value {
  font-size: var(--kpi-datapoint-value-font-size, 40px);
  font-weight: var(--kpi-datapoint-value-font-weight, bold);
}

.kpi-datapoint-units {
  color: var(--kpi-datapoint-units-color, #fff);
  font-size: var(--kpi-datapoint-units-font-size, 20px);
  font-weight: var(--kpi-datapoint-units-font-weight, normal);
  vertical-align: baseline;
  margin-top: 20px;
}

.kpi-datapoint-health {
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 7px;
  background-color: #aaa;
  top: 4px;
  right: 4px;
}

.kpi-datapoint-health-good {
  background-color: #0b0;
}

.kpi-datapoint-health-bad {
  background-color: #d55;
}
