// FontAwesome config for seed app
// use this as an independent style module or a mixin to your own Sass files

// Settings
@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";

// Tools
@import "px-mixins-design/_tools.mixins.scss";

// Generic

// Base
$fa-version: "4.4.0" !default;
$fa-font-path: "/bower_components/font-awesome/fonts";
@import "px-iconography-design/_base.iconography.scss";

// Objects
// Components
// Trumps

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
       url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
       url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
       url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
       url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
