<div class="chart1" data-visualization="gauge" data-bind="attr: {
                                              'data-value': value,
                                              'data-min': min,
                                              'data-max': max,
                                              'data-threshold': threshold,
                                              'data-label-min': labelMin,
                                              'data-label-max': labelMax
                                            }"></div>