@charset "UTF-8";
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */
/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  /**
 * Default link colors
 */
  /**
 * Improve readability when focused and also mouse hovered in all browsers.
 */ }
  a:link, a:visited {
    color: #3e87e8; }
  a:hover {
    color: #3573c5; }
  a:active {
    color: #2b5ea2; }
  a:active, a:hover {
    outline: 0; }

/**
 * Add/remove floats
 */
.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

.float--none {
  float: none !important; }

/**
 * Text alignment
 */
.text--left {
  text-align: left !important; }

.text--center {
  text-align: center !important; }

.text--right {
  text-align: right !important; }

/**
 * Full height element
 */
.full-height {
  height: 100% !important; }

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative {
  cursor: help !important; }

/**
 * Mute an object by reducing its opacity.
 */
.muted {
  opacity: 0.5 !important; }

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
.proceed {
  text-align: right !important; }

/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps {
  text-transform: uppercase !important; }

/**
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/**
 * Hide content off-screen without resorting to `display:none;`
 */
.a11y,
.visuallyhidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important; }

.a11y.focusable:active, .a11y.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto; }

@media screen and (max-width: 44.9375em) {
  .a11y-palm,
  .visuallyhidden-palm {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .a11y-lap,
  .visuallyhidden-lap {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 45em) {
  .a11y-lap-and-up,
  .visuallyhidden-lap-and-up {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (max-width: 63.9375em) {
  .a11y-portable,
  .visuallyhidden-portable {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 64em) {
  .a11y-desk,
  .visuallyhidden-desk {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .a11y-retina,
  .visuallyhidden-retina {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

/**
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden !important; }

.viewport {
  width: auto;
  max-width: none;
  margin-right: 2rem;
  margin-left: 2rem; }

.viewport--full-height {
  min-height: 100vh; }

.flex {
  display: flex; }

.flex--row {
  flex-direction: row; }

.flex--row--rev {
  flex-direction: row-reverse; }

.flex--col {
  flex-direction: column; }

.flex--col--rev {
  flex-direction: column-reverse; }

.flex--nowrap {
  flex-wrap: nowrap; }

.flex--wrap {
  flex-wrap: wrap; }

.flex--wrap--rev {
  flex-wrap: wrap-reverse; }

.flex--left {
  justify-content: flex-start; }

.flex--center {
  justify-content: center; }

.flex--right {
  justify-content: flex-end; }

.flex--justify {
  justify-content: space-between; }

.flex--spaced {
  justify-content: space-around; }

.flex--top {
  align-items: flex-start; }

.flex--middle {
  align-items: center; }

.flex--bottom {
  align-items: flex-end; }

.flex--stretch {
  align-items: stretch; }

.flex--baseline {
  align-items: baseline; }

.flex--top--multi {
  align-content: flex-start; }

.flex--middle--multi {
  align-content: center; }

.flex--bottom--multi {
  align-content: flex-end; }

.flex--stretch--multi {
  align-content: stretch; }

.flex--justify--multi {
  align-content: space-between; }

.flex--spaced--multi {
  align-content: space-around; }

.flex__item {
  flex: 1; }

.flex__item--top {
  align-self: flex-start; }

.flex__item--middle {
  align-self: center; }

.flex__item--bottom {
  align-self: flex-end; }

.flex__item--baseline {
  align-self: baseline; }

/*------------------------------------*    #PX-META-LISTS-DESIGN
\*------------------------------------*/
.list-bare {
  margin: 0;
  padding: 0;
  list-style: none; }

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-inline > li {
    display: inline-block; }

/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
.list-ui,
.list-ui__item,
.list-ui > li {
  border: 0 solid #d1d0d8; }

.list-ui {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top-width: 1px; }

.list-ui__item,
.list-ui > li {
  padding: 1rem;
  border-bottom-width: 1px; }

:host {
  font-family: "GE Inspira Sans", sans-serif; }

[role=contentinfo] {
  margin-top: 8px;
  height: 4rem;
  font-size: 0.8rem;
  line-height: 1.66667;
  color: #b1b1bc; }
  [role=contentinfo] a {
    text-decoration: none;
    color: #b1b1bc; }
    [role=contentinfo] a:hover {
      text-decoration: underline; }

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
     * Add small margins.
     */
.u-m- {
  margin: 0.66667rem !important; }

.u-mt- {
  margin-top: 0.66667rem !important; }

.u-mr- {
  margin-right: 0.66667rem !important; }

.u-mb- {
  margin-bottom: 0.66667rem !important; }

.u-ml- {
  margin-left: 0.66667rem !important; }

.u-mh- {
  margin-right: 0.66667rem !important;
  margin-left: 0.66667rem !important; }

.u-mv- {
  margin-top: 0.66667rem !important;
  margin-bottom: 0.66667rem !important; }

/**
     * Add large margins.
     */
.u-m\00002b {
  margin: 1.33333rem !important; }

.u-mt\00002b {
  margin-top: 1.33333rem !important; }

.u-mr\00002b {
  margin-right: 1.33333rem !important; }

.u-mb\00002b {
  margin-bottom: 1.33333rem !important; }

.u-ml\00002b {
  margin-left: 1.33333rem !important; }

.u-mh\00002b {
  margin-right: 1.33333rem !important;
  margin-left: 1.33333rem !important; }

.u-mv\00002b {
  margin-top: 1.33333rem !important;
  margin-bottom: 1.33333rem !important; }
