// Settings
@import "px-colors-design/_settings.colors.scss";
@import "px-defaults-design/_settings.defaults.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// Base
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-viewport-design/_base.viewport.scss";
@import "px-headings-design/_base.headings.scss";

$inuit-enable-input--regular            : true;

@import "px-forms-design/_base.forms.scss";

// Objects

$inuit-enable-btn--huge                 : true;
$inuit-enable-btn--icon                 : true;
$inuit-enable-btn--primary              : true;

@import "px-buttons-design/_objects.buttons.scss";
@import "px-layout-design/_objects.layout.scss";

$inuit-enable-toggle--large             : true;

@import "px-toggle-design/_objects.toggle.scss";
@import "px-input-group-design/_objects.input-group.scss";

// Component

.normal-weight {
  font-weight: normal;
}

// Trumps
$inuit-enable-margins--none             : true;
$inuit-enable-margins--huge             : true;
$inuit-enable-paddings--large           : true;

@import "px-spacing-design/_trumps.spacing.scss";

@import "inuit-clearfix/_trumps.clearfix.scss";
@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
