// Settings
@import "px-colors-design/_settings.colors.scss";
// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";
@import "inuit-clearfix/_trumps.clearfix.scss";

// px-viewport configuration variables are documented in the px-viewport Readme.md:
// https://github.com/predixdev/px-viewport-design
$desk-wide-width: auto; // defaults to 100%
$desk-wide-max-width: none; // defaults to 80rem
$viewport-margin: 2rem; // defaults to auto

@import "theme";

// Base
@import "px-viewport-design/_base.viewport.scss";
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-typography-design/_base.typography.scss";
@import "px-code-design/_base.code.scss";
@import "px-headings-design/_base.headings.scss";
@import "px-iconography-design/_base.iconography.scss";

// Meta
@import "px-meta-lists-design/_meta.lists.scss";

// Objects
$inuit-enable-btn--bare: true;

@import "px-buttons-design/_objects.buttons.scss";

$inuit-enable-layout--small: true;
$inuit-enable-layout--flush: true;
$inuit-enable-layout--full: true;

@import "px-layout-design/_objects.layout.scss";


// Trumps
$inuit-enable-margins--tiny: true;
$inuit-enable-margins--small: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--huge: true;
$inuit-enable-margins--none: true;
$inuit-enable-margins--rtl: true;
$inuit-enable-margins--negative-tiny: true;
$inuit-enable-paddings: true;
$inuit-enable-paddings--tiny: true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--huge: true;
$inuit-enable-paddings--none: true;
$inuit-enable-responsive-margins: true;

$inuit-enable-responsive-margins--tiny: true;
$inuit-enable-responsive-margins--small: true;
$inuit-enable-responsive-margins--large: true;
$inuit-enable-responsive-margins--huge: true;
$inuit-enable-responsive-margins--negative: true;
$inuit-enable-responsive-margins--negative-tiny: true;
$inuit-enable-responsive-margins--negative-small: true;
$inuit-enable-responsive-margins--negative-large: true;
$inuit-enable-responsive-margins--negative-huge: true;
$inuit-enable-responsive-margins--rtl: true;
$inuit-enable-responsive-margins--none: true;
$inuit-enable-responsive-paddings: true;
$inuit-enable-responsive-paddings--tiny: true;
$inuit-enable-responsive-paddings--small: true;
$inuit-enable-responsive-paddings--large: true;
$inuit-enable-responsive-paddings--huge: true;
$inuit-enable-responsive-paddings--none: true;
$inuit-enable-responsive-paddings--rtl: true;

@import "px-spacing-design/_trumps.spacing.scss";
@import "px-widths-design/_trumps.widths.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
