// Seed Theme
@import "seed-theme.scss";

// Settings
// Tools

// Generic
@import "px-normalize-design/_generic.normalize.scss";

// Base
$inuit-webfont-path: "/bower_components/px-typography-design/type";
@import "px-typography-design/_base.typography.scss";
@import "px-headings-design/_base.headings.scss";

// Meta
// Objects
// Components
// Trumps

// Page Styles to be inserted into index.html <head>
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: calculateRem(60px);
}
html,body {
  margin: 0;
  background: var(--px-seed-header-backgrounde-color, $px-page-html-background-color);
  font-family: $predix-font-family;
  font-weight: normal;
}
body.loading #splash {
  opacity: 1;
}
#splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 500ms cubic-bezier(0,0,0.2,1);
  opacity: 0;
  will-change: opacity;
  z-index: 1;
  background: #3b3b3f;
}
