<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/px-theme/px-theme.html">

<dom-module id="analytics-view">

  <template is="dom-bind">
  <px-twoup id="widgetsx2" widget-header="Analytics Report" widget-icon="fa-bar-chart"> 
    <div class="widget-1">
      
    </div>
    <div class="widget-2">
      
    </div>
  </px-twoup>
    
  </template>
  <script>
    Polymer({
      is: 'analytics-view',
      properties: {
		  },
      ready: function() {
        console.log('analytics-view ready()')
      }
    });
  </script>
</dom-module>
