<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="angular-view">
  <script src="../../bower_components/angular/angular.min.js"></script>
  <template>
    <h1>angular-view.html</h1>
    <div ng-app>
      <label>Name:</label>
      <input type="text" ng-model="{{yourName}}" placeholder="Enter a name here">
      <hr>
      <!-- TODO: Henry, this is the template binding to angular ng-model "yourNanme" -->
      <h1>Hello [[yourName]]!</h1>
    </div>
  </template>
  <script>
    Polymer({
      is: 'angular-view',
      properties: {
        yourName: {
          type: String,
          value: 'Eric'
        }
      },
      ready: function() {
        console.log('angular-view ready()')
      }
    });
  </script>
</dom-module>
