<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-context-browser/px-context-browser.html">
<link rel="import" href="../../bower_components/px-deck-selector/px-deck-selector.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- local px-deck -->
<link rel="import" href="/elements/px-deck/px-deck.html">

<!-- this element loads another element and appends it to #element -->
<dom-module id="dashboards-view">
  <script src="../../bower_components/lodash/lodash.js"></script>
  <script src="../../bower_components/q/q.js"></script>
  <template>

    <!-- Context -->
    <iron-ajax id="contextIronAjax"
      url="/api/predix-asset/root"
      last-response="{{_browserContext}}"></iron-ajax>

    <!-- Decks -->
    <iron-ajax id="decksIronAjax"
      url="[[_decksUrl]]"
      last-response="{{decksResponse}}" auto></iron-ajax>

    <px-context-browser
      id="contextBrowser"
      label-field="name"
      id-field="id"
      browser-context="[[_initialBrowserContext]]"
      show-chevron="true">
      <px-deck-selector decks="[[_decks]]"
        selected-deck="{{_selectedDeck}}"></px-deck-selector>
    </px-context-browser>

    <px-deck
      view-service-base-url="[[_viewServiceBaseUrl]]"
      deck-id="[[_selectedDeckId]]"></px-deck>

  </template>
  <script>
    Polymer({

      is: 'dashboards-view',

      properties: {
        _decks: {
          type: Array,
          computed: '_computeDecks(decksResponse)'
        },
        _initialBrowserContext: {
          type: Object,
          computed: '_computeInitialBrowserContext(_browserContext)'
        },
        _deckString: {
          type: String,
          computed: '_computeDeckString(deck)'
        },
        _nodeUri: {
          type: String,
          observer: '_nodeUriChanged'
        },
        _decksUrl: {
          type: String,
          computed: '_computeDecksUrl(_selectedContextTag, _viewServiceBaseUrl)'
        },
        _selectedContextTag: {
          type: String,
          value: ''
        },
        _viewServiceBaseUrl: {
          type: String,
          value: '/api/view-service/'
        },
        _selectedDeckId: {
          type: String,
          computed: '_computeSelectedDeckId(_selectedDeck)'
        }
      },

      _computeDecksUrl: function() {
        if(this._selectedContextTag) {
          return this._viewServiceBaseUrl + "decks/tag-" + this._selectedContextTag;
        } else {
          return this._viewServiceBaseUrl + "decks";
        }
      },

      _computeSelectedDeckId: function() {
        if(this._selectedDeck) {
          return this._selectedDeck.id;
        }
      },

      ready: function ready() {
        var _this = this;
        var colBrowser = this.$.contextBrowser;
        colBrowser.handlers = {
          getChildren: function(parent, newIndex) {
            return _this._getChildren(parent);
          },
          itemOpenHandler: function(item) {
            return _this._itemOpenHandler(item);
          },
          itemClickHandler: function(item) {
            return _this._itemClickHandler(item);
          }
        };
        // initialize context data
        this.$.contextIronAjax.generateRequest();
      },

      _computeDeckString: function(deck) {
        return JSON.stringify(deck);
      },

      _computeDecks: function(decksResponse) {
        var decks = [];
        if (decksResponse && decksResponse.length > 0) {
          decksResponse.forEach(function(deck) {
            decks.push({ name: deck.title, id: deck.id });
          });
        };
        return decks;
      },

      _computeInitialBrowserContext: function(_browserContext) {
        if(typeof this._initialBrowserContext !== 'object') {
          return _browserContext;
        } else {
          return this._initialBrowserContext;
        }
      },

      // "getChildren" handler for px-context-browser
      _getChildren: function(node) {
        var deferred = Q.defer(),
            children,
            response,
            ironAjaxEl = document.createElement('iron-ajax');

        if(node.uri !== this._nodeUri) {
          // if the new nodeUri is different
          this.set('_nodeUri', node.uri);
          this.$.contextIronAjax.addEventListener('response', function(evt) {
            if(evt.detail.response) {
              children = evt.detail.response;
              deferred.resolve(children);
            } else {
              deferred.reject("Error: request returned status " + evt.detail);
            }
          });
          // don't forget to return the promise!
          return deferred.promise;
        } else {
          // use cached response, no need for http request
          deferred.resolve(this.$.contextIronAjax.lastResponse);
          return deferred.promise;
        }
      },

      _nodeUriChanged: function(_nodeUri) {
        this.$.contextIronAjax.url = '/api/predix-asset' + _nodeUri;
        this.$.contextIronAjax.generateRequest();
      },

      _itemOpenHandler: function(item) {
        // mapping of tags to deckId values
        var tags = [
          { 'tag': 'predix-energy', 'deckId': '1' },
          { 'tag': 'richmond', 'deckId': '2' },
          { 'tag': 'richmond-refinery', 'deckId': '3' },
          { 'tag': 'compressor-2015', 'deckId': '4' }
        ];
        var tag = _.find(tags, function(o) { return o.tag === item.id; });
        console.log(item)
        this._selectedContextTag = item.id;
      },

      _itemClickHandler: function(item) {
        // console.log('_itemClickHandler', item);
      }

    });
  </script>
</dom-module>
