<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-kpi/px-kpi.html">
<link rel="import" href="../../bower_components/px-kpi/px-kpi-list.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-sixup.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/px-theme/px-theme.html">

<dom-module id="dashboards-view">
  <template>

    <script type="text/javascript" src="../../bower_components/es6-promise/es6-promise.min.js"></script>
    <style>
      body {
        background-color: #525156;
      }
    </style>
    <px-sixup id="widgetsx6" widget-header="DASHBOARD" widget-icon="fa-bar-chart">
      <div class=widget-1>
        <px-kpi id="kpi-1" title="Speed" value="17" uom="kmph" status-icon="circle" status-color="green" spark-type="line"></px-kpi>
      </div>
      <div class=widget-2>
        <px-kpi id="kpi-2" title="Fuel Level" value="11.9" uom="%" status-icon="circle" status-color="orange" spark-type="line"></px-kpi>
      </div>
      <div class=widget-3>
        <px-kpi id="kpi-3" title="Air Temperature" value="30" uom="Celcius" status-icon="arrow-up" status-label="12%" status-color="green" spark-type="line"></px-kpi>
      </div>
      <div class=widget-4>
        <px-kpi id="kpi-4" title="Engine RPM" value="1300" uom="rpm" status-icon="calendar" status-color="red" spark-type="line"></px-kpi>
      </div>
      <div class=widget-5>
        <px-kpi id="kpi-5" title="FUEL CONSUMPTION RATE" value="8.3" uom="/10" status-icon="smile-o" status-color="orange" spark-type="line"></px-kpi>
      </div>
      <div class=widget-6>
        <px-kpi id="kpi-6" title="ENGINE RUNTIME" value="1.2" uom="hr" status-icon="smile-o" status-color="green" spark-type="line"></px-kpi>
      </div>
    </px-sixup>

    <px-twoup id="widgetsx2" widget-header="Asset Data" widget-icon="fa-eye">
      <div class=widget-1>
        <px-kpi-list title="MH 04 GT 7785" 
                     values="[{ }]"
                     status-icon="arrow-up"
                     status-color="green" 
                     footer="Last 7 days"></px-kpi-list>
      </div>
      <div class=widget-2>
        <px-kpi-list title="MH 07 GT 1258" 
                     values="[{}]" 
                     status-icon="circle" 
                     status-color="orange" 
                     footer="Last 7 days"></px-kpi-list>
      </div>
    </px-twoup>
    
    

  </template>
  <script>
    Polymer({

      is: 'dashboards-view',

      properties: {
        
      } 
    });
  </script>
</dom-module>
