<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../hidden-element.html">

<dom-module id="home-view">

    <template>
        <h1>Predix Seed 2016</h1>
        <!-- <hidden-element></hidden-element> -->
    </template>
    <script>
        Polymer({
            is: 'home-view',
            properties: {

            },
            ready: function() {
              console.log('home-view ready');
            }
        });
    </script>

</dom-module>
