<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../bower_components/px-context-browser/px-context-browser.html">
<link rel="import" href="../kpi-bar/kpi-bar.html">

<dom-module id="rmd-view">
  <template>
    <px-context-browser opened-item-name="Select Asset">Asset Monitoring</px-context-browser>
    <px-card id="myCard">
      stuff goes here
    </px-card>
    <iron-ajax url="/api/predix-asset/group?filter=parent=/group/root" auto></iron-ajax>
    <kpi-bar datapoints="[[kpiDatapoints]]"></kpi-bar>
  </template>
  <script>
    /**
    * this method transforms asset entity into an object format consumable by px-context-browser component
    */
    // var transformEntityForDisplay = function (entity) { // transform your entity to context browser entity format
    //     entity.name = entity.description;
    //     entity.id = entity.uri;
    //     entity.parentId = entity.parent;
    //     // we can only open plants or assets:
    //     entity.isOpenable = (entity.uri.indexOf('plant') >= 0 || entity.uri.indexOf('asset') >= 0);
    //     return entity;
    // };
    Polymer({
      is: 'rmd-view',
      properties: {
        kpiDatapoints: {
          type: Array,
          value: []
        }
      },
      ready: function() {
        this.kpiDatapoints = [
          { value: '0.05', label: 'OUTPUT (AVG)', units: 'm/s', health: 'bad'},
          { value: '2.749', label: 'CRANK-FRAME COMPRESSION', units: '', health: 'good'},
          { value: '60.0', label: 'RELIABILITY', units: '%', health: 'good'},
          { value: '85.0', label: 'AVAILABILITY', units: '%', health: 'good'},
          { value: '85', label: 'KPI HEALTH', units: '%', health: 'good'}
        ];
        console.log('rmd-view ready()');
      }
    });
  </script>
</dom-module>
