<div class="datagrid-widget">
    <h3 class="pull-left datagrid-widget-name" data-bind="text: tableName"></h3>
    <form class="form pull-right datagrid-widget-filter col-sm-3" data-bind="visible: koShowSearchField">
        <div class="input-group">
            <input type="text" class="form-control search-query" data-bind="attr: {'data-filter-table': tableName}">
            <span class="input-group-btn">
                <button class="btn btn-icon" type="button">
                    <i class="icon-search"></i>
                </button
            </span>
        </div>
    </form>
    <table class="table table-bordered" data-bind="attr: {'data-table-name': tableName}">
    </table>
</div>