<div data-visualization="bar" data-bind="attr: {
                                'data-value': value,
                                'data-min': min,
                                'data-max': max,
                                'data-threshold': threshold
                              }"></div>