// Default color values
// $base-color  : #3ab4d4;
$base-color  : #f00;
$font-color  : #fff;

:host {
  height: 18px;
}

#main {
  height: 60px;
}

#launch-wrapper {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: $base-color;
}

.step-shell {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 9px;
  border: 2px solid;
  overflow: hidden;
  margin: 5px auto;
  border-color: $base-color;
  position: relative;
  background-color: rgba(210, 210, 210, 0.1);
}

.step-icon-holder {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 0px;
  background-color: $base-color;
}

.step-connector {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 10px;
  margin: auto -25px;
  margin-top: 14px;
  border-top: 1px solid $base-color;
}

.step-connector:last-of-type {
  display: none;
}

.launch-icon {

  color: $font-color;
  height: 16px;
  margin-top: 8px;
  margin-left: 4px;
}

.step-icon {
  height: 13px;
  color: $font-color;
  margin-top: -6px;
  margin-left: -5px;
}

.step-label {
  color: $font-color;
  width: 60px;
  font-size: 11px;
  text-align: center;
}

.node-shell {
  height: 40px;
  width: 60px;
  display: inline-block;
}
