// Settings
@import "px-colors-design/_settings.colors.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// px-viewport configuration variables are documented in the px-viewport Readme.md:
// https://github.com/predixdev/px-viewport-design
$desk-wide-width: auto; // defaults to 100%
$desk-wide-max-width: none; // defaults to 80rem
$viewport-margin: 0; // defaults to auto

// Base
@import "px-viewport-design/_base.viewport.scss";
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-headings-design/_base.headings.scss";

// Meta
@import "px-meta-lists-design/_meta.lists.scss";

// Objects
$inuit-enable-btn--bare     : true;

@import "px-buttons-design/_objects.buttons.scss";

$inuit-enable-layout--small : true;
$inuit-enable-layout--flush : true;
$inuit-enable-layout--full  : true;

@import "px-layout-design/_objects.layout.scss";

@import "../../seed-theme.scss";

[role=banner], [role=contentinfo] {
  height: calculateRem(60px);
  background: var(--px-seed-header-background-color);
}

[role=banner] {
  width: 100%;
  display: block;
  margin: auto;
  h3 {
    @include inuit-font-size(20px);
    margin: 0;
    line-height: calculateRem(60px);
    font-weight: normal;
    color: var(--px-seed-header-text-color, $px-page-banner-text-color);
    display:inline-block;
    svg {
      margin-bottom: -.1em;
    }

  }

  h3.app-title {
    color: var(--px-seed-header-text-color, $gray4);
  }

  h3.logo {
    color: var(--px-seed-header-text-color, $gray6);
  }

}

.content-wrapper {
  position: relative;
  display: flex;
}

header > div.viewport {
  margin: 0 15px;
}

main {
  min-height: calc(100vh - #{calculateRem(120px)});
  margin-left: 0;
  background-color: var(--px-seed-app-main-content-area-background-color, $px-page-main-content-area-background-color);
  overflow-x: hidden;
  @include media-query(portable) {
    margin-left: calculateRem(55px);
  };
  @include media-query(desk) {
    margin-left: 0;
  };
  flex: 1;
}

[role=contentinfo] {
  @include inuit-font-size(12px);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $px-page-link-color;
  a {
    text-decoration: none;
    color: $px-page-link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Trumps
$inuit-enable-margins--tiny             : true;
$inuit-enable-margins--small            : true;
$inuit-enable-margins--large            : true;
$inuit-enable-margins--huge             : true;
$inuit-enable-margins--none             : true;
$inuit-enable-margins--rtl              : true;
$inuit-enable-margins--negative-tiny    : true;
$inuit-enable-paddings                  : true;
$inuit-enable-paddings--tiny            : true;
$inuit-enable-paddings--small           : true;
$inuit-enable-paddings--large           : true;
$inuit-enable-paddings--huge            : true;
$inuit-enable-paddings--none            : true;

@import "px-spacing-design/_trumps.spacing.scss";
@import "px-widths-design/_trumps.widths.scss";
