$highlight-current  : #3ab4d4;

:host {
  height: 18px;
}

.progress-shell {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 9px;
  border: 2px solid;
  overflow: hidden;
  margin: 5px auto;
  border-color: $highlight-current;
  position: relative;
  background-color: rgba(210, 210, 210, 0.1);
}

.progress-icon {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 0px;
  background-color: $highlight-current;
}

.progress-icon-completed {
  margin-top: 0px;
}

.progress-icon-inprogress {
  margin-top: 9px;
}

.progress-icon-unstarted {
  margin-top: 20px;
}

.connecting-line {
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 10px;
  margin: auto -25px;
  margin-top: 14px;
  border-top: 1px solid $highlight-current;
}

.connecting-line:last-of-type {
  display: none;
}

.progress-shell-current .current-indicator {
  width: 10px;
  height: 10px;
  top: 2px;
  left: 2px;
  border-radius: 5px;
  border: 0px;
  position: absolute;
  background-color: #fff;
}

.learning-hat {
  --iron-icon-height: 20px;
  color: #fff;
  margin-top: -25px;
  margin-right: 10px;
}

.progress-icon-character {
  --iron-icon-height: 12px;
  margin-top: -6px;
  margin-left: -5px;
}

.path-label {
  color: #fff;
  width: 60px;
  font-size: 11px;
  text-align: center;
}

.node-shell {
  height: 60px;
  width: 60px;
  display: inline-block;
}
