@(message:String)
@import com.ge.dsv.common.util.Language;

<!DOCTYPE HTML>
<html>
	<head>
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public/images", "favicon.png")">

        <!-- Styles -->
        <link rel="stylesheet" href="@routes.Assets.at("/public/bower_components", "iids/dist/iidx/css/iids.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("/public/bower_components", "iids/dist/iidx/css/responsive.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("/public/stylesheets", "app.css")"/>

		<title>@Language.message("Application.name")</title>
		<style type="text/css">
		
		.login-popup{
			display:none;
			padding: 10px;
			border: 2px solid #ddd;
			font-size: 1.2em;
			position: fixed;
			top: 50%; left: 50%;
			z-index: 99999;
			box-shadow: 0px 0px 20px #999;
			-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
		    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
			border-radius:3px 3px 3px 3px;
		    -moz-border-radius: 3px; /* Firefox */
		    -webkit-border-radius: 3px; /* Safari, Chrome */
		}
		
		</style>

        <script src="@routes.Assets.at("/public/bower_components", "iids/dist/iidx/components/jquery/jquery.min.js")"></script>
        <!--
		Include javascript function for fetching the client side strings based on the locale.
		The route "routes.MessageController.getMessages()" will return the javascript "Message()" function.
		-->
		<script type="text/javascript" src="@com.ge.dsv.controllers.routes.MessageController.getMessages()"></script>
	</head>
	<body>

        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="masthead navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="ge-logo"></span>
                            <span id="a7749d78-d720-455c-886a-00fff4022ee7_brand">@Language.message("Application.name")
                                <small><i>@Language.message("packager.page.gelogo")</i> @Language.message("packager.page.gebusiness")</small>
                            </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content container">
            <div id="login-box" class="login-popup col-sm-2">
                <form method="post" id="loginform">
                    <div class="form-group">
                        <label id="usernameLabel"></label>
                        <input id="username" name="loginUserName" value="" type="text" autocomplete="on" placeholder="Username"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label id="passwordLabel"></label>
                        <input id="password" name="loginPassword" value="" type="password" placeholder="......" class="form-control">
                    </div>
                    <input id="TargetUrl" name="TargetUrl" value="@Http.Context.current().request().getQueryString("TargetUrl")" type="hidden">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="rememberme" id="rememberme"><div id="loginOptionLabel"></div>
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-default" type="submit" id="loginButton"></button>
                    </div>
                </form>
                <div id="ajaxstate" class="alert alert-success" style="display:none"></div>
            </div>
        </div>

         <script type="text/javascript">
            var $ajaxState = $('#ajaxstate');
            var $loginBox = $('#login-box');

            $ajaxState.click(function () {
                $ajaxState.toggle('login-window')
            });

            var showFlash = function (className, message) {
                $ajaxState.html("  " + message).toggleClass('warning').slideDown('slow').attr('class', className);
            }

            @if(message != null) {
                @if(message != "") {
                    showFlash('alert alert-success', "@message");
                }
            }

            //Fade in the Popup and add close button
            $loginBox.fadeIn(300);

            //Set the center alignment padding + border
            var popMargTop = ($loginBox.height() + 24) / 2;
            var popMargLeft = ($loginBox.width() + 24) / 2;

            $loginBox.css({
                'margin-top': -popMargTop,
                'margin-left': -popMargLeft
            });

            //Display the client side strings based on the locale.
            $('#usernameLabel').text(window.Messages('login.page.usernameLabel'));
            $('#passwordLabel').text(window.Messages('login.page.passwordLabel'));
            $('#loginOptionLabel').text(window.Messages('login.page.loginOptionLabel'));
            $('#loginButton').text(window.Messages('login.page.loginButtonLabel'));

            $(document).on("submit", "#loginform", function (event) {
                event.preventDefault();

                //serialize form data into array
                var formFieldArray = $(this).serializeArray();
                var formJSON = {};

                //for each form field, convert into json object
                $.each(formFieldArray,function(){
                    formJSON[this.name] = this.value;
                });

                $.ajax({
                    type: "POST",
                    context: this,
                    url: '@routes.Authentication.authenticate(Language.message("Application.name"))',
                    data: JSON.stringify(formJSON),
                    contentType : 'application/json',
                    dataType: "JSON"
                }).done(function (res) {
                    //redirect upon successful login
                    window.location.replace('@Http.Context.current().request().getQueryString("TargetUrl")');
                }).fail(function (res) {
                    showFlash('alert alert-error', window.Messages('login.page.invalid'));
                });
            });
        </script>

	</body>
</html>